@import "./scss/_banner";
@import "./scss/_header";
@import "./scss/_footer";
@import "./scss/_navbar";
@import "./scss/_resnavbar";
@import "./scss/_grid";
@import "./scss/_inputRadio";
@import "./scss/_carousel";

$standard-lineheight: 3.5rem;
$nav-item-size: 1.6rem;
$backgroundColor: (
    "title": #2b2b2b,
    "icon": #fc8c79,
    "sub": #303030,
    "main": #2b2b2b,
    "btn": #6372f5,
    "footerColor": #ecd9bd,
);

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}
body {
    background-color: #f8edd6;
    overflow-x: hidden;
    margin-top: 3rem;
    min-height: 100%;
    min-width: 100%;
}

@media (max-width: 1300px) {
    // PRODUCTS OPEN

    #main
        #six-grid-container
        .product-grid-container__column
        .product-grid-item-img {
        height: 20rem;
        width: 10rem;
    }

    // PRODUCTS CLOSE
}

@media (max-width: 1200px) {
    // Navigation
    .main-nav {
        #main-nav__responsive__toggle {
            display: inline;
        }
        .main-nav__logo {
            left: 50%;
            transform: translateX(-50%);
        }

        #main-nav__link__container {
            display: none;
        }
    }

    // HOME OPEN

    // Banner
    .banner-container {
        height: 70vh;
        #bannerTitle {
            font-size: 6rem;
        }
    }

    // HOME CLOSE
}

@media (max-width: 1100px) {
    // HOME OPEN
    .info-grid-container {
        padding: 5rem 2rem;
    }

    // Arrows

    #review-icon-left {
        top: 4rem;
    }

    #review-icon-right {
        top: 4rem;
    }
    // HOME CLOSE
    // PRODUCT OPEN
    .product-header {
        padding: 0 3rem;
    }

    .product-dual-grid {
        grid-template-columns: 1fr;
    }

    .product-dual-grid
        .product-dual-column
        #product-image-sticky
        #product-image {
        height: 30vh;
        margin-top: 1rem;
    }
    // PRODUCT CLOSE

    // PREVIEW OPEN
    .cart-preview-dual-grid {
        grid-template-columns: 1fr;

        .cart-desc__container {
            grid-template-columns: 1fr;
        }

        .cart-desc__container__links {
            width: 70vw;
            grid-auto-rows: min-content;
            margin-top: 2rem;

            a {
                margin: 0 1rem;
            }
        }
    }

    .cart-preview-dual-grid
        .cart-dual-column
        .cart-desc__container__links
        .checkout-btn {
        justify-self: center;
        width: 100%;
        margin: 0;
    }
    // PREVIEW CLOSE
    // CART OPEN
    .cart-header {
        padding: 3% 20%;
    }

    .cart-dual-grid .cart-dual-column .cart-image-container,
    .cart-preview-dual-grid .cart-dual-column .cart-image-container {
        height: 20vh;
    }

    .cart-dual-grid .cart-dual-column .cart-image-container .cart-image,
    .cart-preview-dual-grid
        .cart-dual-column
        .cart-image-container
        .cart-image {
        height: 100%;
        width: auto;
    }

    .cart-dual-grid,
    .cart-preview-dual-grid {
        grid-template-columns: 1fr;
    }

    // CART CLOSE
    // CONTACT OPEN
    .two-grid-container {
        grid-template-columns: 1fr 1fr;
        grid-gap: 0;

        .contact-grid-container__title {
            text-align: center;
            margin-bottom: 1rem;
        }

        .contact-column {
            padding: 0 1rem;
        }
    }
    // CONTACT CLOSE
}

@media (max-width: 800px) {
    // HOME OPEN
    .info-grid-container {
        display: inline-block;
    }

    .slider,
    .review-grid-container__column {
        width: 90%;
    }
    // HOME CLOSE

    // PRODUCTS OPEN

    #main
        #six-grid-container
        .product-grid-container__column
        .product-grid-item-img {
        height: 12rem;
        width: 2rem;
    }

    #main #six-grid-container {
        grid-template-columns: 1fr 1fr;
    }

    // PRODUCTS CLOSE
    // CART OPEN
    #padded-main {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .checkout-btn {
        width: 50%;
    }
    // CART CLOSE
}

@media (max-width: 700px) {
    // CART OPEN
    .cart-desc__container .cart-desc .cart-desc__container__body {
        font-size: 1.8rem;
    }
    // CART CLOSE
}

@media (max-width: 600px) {
    // HOME OPEN
    // Banner
    .banner-container {
        height: 60vh;
        width: auto;
        .banner-contents {
            top: 15%;
            #bannerTitle {
                font-size: 3.5rem;
            }
        }
    }

    .home-mostPopular-container {
        padding: 3rem 1rem;
    }

    .home-grid-container__title {
        padding: 1rem 2rem;
        font-size: 2rem;
    }

    // Arrows

    #review-icon-left {
        top: 4rem;
    }

    #review-icon-right {
        top: 4rem;
    }

    .slider,
    .review-grid-container__column {
        height: auto;
        margin-top: 3rem;
    }
    .slider .slide .review-grid-title {
        font-size: 2rem;
    }
    // HOME CLOSE

    // PREVIEW CLOSE
    .cart-preview-dual-grid .cart-dual-column .cart-desc__container__links {
        grid-template-columns: 1fr;

        a {
            margin: 1rem 0;
        }
    }
    // PREVIEW CLOSE
    // CART OPEN
    .cart-dual-grid .cart-dual-column,
    .cart-preview-dual-grid .cart-dual-column {
        height: auto;
    }
    // CART CLOSE
    // CONTACT OPEN
    .two-grid-container {
        display: block;
        grid-gap: 0;
    }
    // CONTACT CLOSE
}

@media (max-width: 500px) {
    .main-nav__logo {
        font-size: 1rem;
    }

    #main-nav__responsive__toggle {
        left: 2rem;
    }

    .main-nav__cart {
        right: 2rem;
    }

    // PRODUCTS OPEN

    .main-nav__link {
        margin: 0;
    }

    #main #six-grid-container {
        grid-template-columns: 1fr;
    }

    .slider .slide .image {
        width: 50%;
    }

    // PRODUCTS CLOSE
    // PRODUCT OPEN
    .product-dual-column {
        align-self: center;
        justify-self: center;
    }
    // PRODUCT CLOSE

    // PREVIEW OPEN
    .cart-preview-dual-grid {
        padding: 4rem 1rem;
    }
    // PREVIEW CLOSE
    // CART OPEN
    .cart-header {
        padding: 3% 10%;
    }

    .checkout-btn {
        width: 80%;
    }

    .home-mostPopular-container {
        display: none;
    }
    // CART CLOSE
}
