.slider {
    position: relative;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .slide {
        opacity: 0;
        transition-duration: 1s ease;
    }

    .slide {
        height: auto;
        .image {
            height: 100%;
            width: 30%;
            border-radius: 100%;
        }

        .review-grid-title {
            font-size: 2.5rem;
        }

        .review-grid-text {
            font-size: 1.2rem;
        }
    }
    .active {
        opacity: 1;
        transition-duration: 1s;
        transition: scale(1.08);
    }
}
