.banner-container {
  position: relative;
  height: 40vh;
  width: 100%;
  background-image: linear-gradient(to right, #ffbfc4c0, rgba(163, 143, 116, 0.185)), url("https://images.pexels.com/photos/1028704/pexels-photo-1028704.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-position: bottom left;
  background-size: stretch;
}

.banner-contents {
  position: absolute;
  left: 8%;
  top: 25%;
  width: 100%;
  text-align: left;
  width: auto;
}
.banner-contents span {
  display: block;
}
.banner-contents h1,
.banner-contents h3 {
  text-transform: capitalize;
  font-size: 7rem;
  color: white;
}
.banner-contents #left {
  animation: inFromLeft 2s ease;
}
.banner-contents #right {
  animation: inFromRight 2s ease;
}
@keyframes inFromLeft {
  0% {
    transform: translateX(-20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes inFromRight {
  0% {
    transform: translateX(20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.banner-contents #bannerTitle {
  margin: 0;
}
.banner-contents #bannerSubTitle {
  color: white;
  font-size: 1.8rem;
  margin: 1rem 1rem 1rem 0;
}

.btn {
  margin-top: 1rem;
  padding: 1.4rem 2.5rem;
  background-color: #ff8570be;
  color: white;
  border: none;
  border-radius: 15px;
  font-size: 1.3rem;
  transition: background-color 0.3s ease;
}
.btn:hover {
  cursor: pointer;
  background-color: rgba(255, 155, 138, 0.7450980392);
}
.btn:focus {
  background-color: #ff8570be;
}

.header {
  width: 100%;
  margin: auto;
  vertical-align: middle;
  position: relative;
}

.product-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: min-content;
  background-color: white;
  justify-content: center;
  padding: 0 12rem;
  border-bottom: 1px solid #d6d6d6;
  position: sticky;
  top: 3rem;
  z-index: 2;
  color: #45271f;
}
.product-header .product-dual-column:nth-child(1) {
  justify-self: start;
}
.product-header .product-dual-column:nth-child(2) {
  justify-self: end;
}

.cart-header {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  justify-content: center;
  padding: 3% 30%;
  color: #45271f;
}
.cart-header .header-row {
  margin: 0;
  text-align: center;
}
.cart-header .header-row .header-title {
  font-size: 3rem;
  margin: 0;
}
.cart-header .header-row .header-subTitle {
  margin-top: 1rem;
  font-size: 1.5rem;
}

.header-btn {
  padding: 0.5rem 0;
  width: 40%;
  border: none;
  border-radius: 5px;
  background: linear-gradient(to bottom, #5c5cff, #4343ff);
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 2rem;
}

/* Footer */
.footer-container {
  font-size: rem;
  padding: 4rem 0;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  grid-column-gap: 1rem;
  color: #ecd9bd;
  background-color: #2b2b2b;
}
.footer-container #footer-logo-img-container #footer-logo-img {
  width: 13rem;
  height: auto;
}
.footer-container .footer-social__icon__link__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  grid-gap: 1rem;
}
.footer-container .footer-social__icon__link__container .footer-social__icon__link {
  color: white;
}
.footer-container .footer-social__icon__link__container .footer-social__icon__link .footer-social__icon {
  font-size: 3rem;
}
.footer-container .footer-link-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  list-style: none;
  padding: 0;
}
.footer-container .footer-link-list .footer-link {
  padding-bottom: 1rem;
}
.footer-container .footer-link-list .footer-link .link {
  text-decoration: none;
  color: white;
}
.footer-container #copyright {
  margin: 0;
}

/* Header  */
.main-nav {
  font-size: 1.3rem;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
  width: 100%;
  text-align: center;
  height: 3rem;
  line-height: 3rem;
  border-bottom: solid #d6d6d6a9 2px;
}
.main-nav #main-nav__link__container {
  height: 3rem;
}
.main-nav #main-nav__link__container a {
  text-decoration: none;
  color: #45271f;
}
.main-nav #main-nav__link__container .dropdown-nav__container #dropdown {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  width: 10rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 0;
  margin: 0;
  z-index: 1;
  transition: all 2s;
  list-style: none;
}
.main-nav #main-nav__link__container .dropdown-nav__container #dropdown a:hover {
  cursor: pointer;
  background-color: #fafafa;
}
.main-nav #main-nav__link__container .dropdown-nav__container:hover #dropdown {
  display: block;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.main-nav.scrolled {
  background-color: white;
  transition: background-color, 200ms, linear;
}

.main-nav__link {
  display: none;
  position: relative;
  color: #45271f;
  margin: 0 1rem;
  text-decoration: none;
}

.main-nav__logo__container {
  position: absolute;
  left: 0;
  margin: 0 1rem;
  text-decoration: none;
  height: auto;
  width: auto;
}

.main-nav__logo,
#main-nav__responsive__toggle {
  display: none;
  color: #45271f;
  position: absolute;
  left: 4rem;
  text-decoration: none;
  line-height: 3rem;
}

#main-nav__responsive__toggle {
  display: inline-block;
}

.main-nav__cart {
  color: #45271f;
  position: absolute;
  right: 4rem;
}

.main-nav__link:hover,
.main-nav__link:active,
#main-nav__responsive__toggle:hover,
#main-nav__responsive__toggle:active {
  cursor: pointer;
  color: #45271f;
}

/* Responsive Nav  */
#responsive-nav {
  z-index: 1;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  background-color: #323233;
  animation-name: displayHeight;
  animation-duration: 0.8s;
  text-align: center;
}

.responsive-nav__input {
  height: 3vh;
  width: 90%;
  margin: 3rem 0 0 0;
  border: none;
  padding: 1.3em;
  border-radius: 7px;
}

.responsive-nav__bottomLine {
  border-color: gray;
  border-width: 0.5px;
}

.responsive-nav__link {
  display: block;
  position: relative;
  color: #d6d6d6;
  font-size: 1.1rem;
  text-align: start;
  margin: 1rem 0 1rem 3rem;
  text-decoration: none;
}

.responsive-nav__link__bottomLine {
  border-color: gray;
  border-width: 0.5px;
  width: 80%;
}

@keyframes displayHeight {
  0% {
    height: 0;
  }
  100% {
    height: 100vh;
  }
}
.two-grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 2rem;
}
.two-grid-container .contact-grid-container__title {
  text-align: left;
  font-size: 3rem;
}

.home-mostPopular-container {
  text-align: center;
  padding: 5rem;
}
.home-mostPopular-container #mostPopular__grid__container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  justify-content: center;
  grid-gap: 5rem;
}
.home-mostPopular-container #mostPopular__grid__container a {
  text-decoration: none;
  color: #45271f;
}
.home-mostPopular-container #mostPopular__grid__container .product-grid-container__column {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  padding: 3rem 0;
}
.home-mostPopular-container #mostPopular__grid__container .product-grid-container__column .product-grid-item-img {
  height: 15rem;
  width: 10rem;
  justify-self: center;
  display: grid;
  justify-content: center;
}
.home-mostPopular-container #mostPopular__grid__container .product-grid-container__column .product-grid-item-img .grid-img {
  justify-self: center;
  align-self: center;
  width: auto;
  height: 100%;
}
.home-mostPopular-container #mostPopular__grid__container .product-grid-container__column .product-grid-desc {
  height: auto;
  font-size: 1.7rem;
  text-align: center;
}
.home-mostPopular-container #mostPopular__grid__container .product-grid-container__column .product-grid-desc .product-grid-item,
.home-mostPopular-container #mostPopular__grid__container .product-grid-container__column .product-grid-desc .product-grid-item-img {
  color: #45271f;
}
.home-mostPopular-container #mostPopular__grid__container .product-grid-container__column .product-grid-desc .product-grid-item .star-icon,
.home-mostPopular-container #mostPopular__grid__container .product-grid-container__column .product-grid-desc .product-grid-item-img .star-icon {
  color: gold;
}
.home-mostPopular-container #mostPopular__grid__container .product-grid-container__column .product-grid-desc .product-grid-item {
  margin: 1rem 0;
}
.home-mostPopular-container #mostPopular__grid__container .product-grid-container__column .product-grid-desc .product-grid-item p {
  margin: 0;
}
.home-mostPopular-container .home-btn {
  padding: 0.5rem 0;
  width: 10%;
  border: none;
  border-radius: 5px;
  background-color: #4343ff;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 2rem;
}

.contact-column {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}
.contact-column .contact-column__link__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
}
.contact-column .contact-column__link__container :nth-child(1) {
  background-color: #45271f;
}
.contact-column .contact-column__link__container :nth-child(2) {
  color: #45271f;
}
.contact-column .contact-column__link {
  color: white;
  padding: 0.7rem 1rem;
  border-radius: 5px;
}
.contact-column .input-container {
  display: block;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-columns: 5px;
}
.contact-column .input-container .input-container__label {
  margin: 0.5rem 0;
}
.contact-column .input-container .input-container__field {
  padding: 0.7rem 1rem;
  border: solid 1px #ced4da;
  border-radius: 5px;
}
.contact-column .input-container #submit {
  background-color: #45271f;
  color: white;
}

.four-grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 5rem;
}
.four-grid-container img {
  width: auto;
  height: 100%;
  justify-self: center;
}

.five-grid-container,
.info-grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.info-grid-container {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

#six-grid-container {
  display: grid;
  padding: 0 5rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

#padded-main {
  padding: 1rem 7rem 7rem 7rem;
  width: 100%;
}
#padded-main .underline {
  background-color: #45271f;
  height: 0.2rem;
  width: 5%;
  margin-bottom: 2rem;
}
#padded-main #six-grid-container {
  grid-gap: 4rem;
}
#padded-main #six-grid-container a {
  text-decoration: none;
}
#padded-main #six-grid-container .product-grid-container__column {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
}
#padded-main #six-grid-container .product-grid-container__column .product-grid-item-img {
  height: 10rem;
  display: grid;
  justify-content: center;
}
#padded-main #six-grid-container .product-grid-container__column .product-grid-item-img .grid-img {
  width: auto;
  height: 100%;
}
#padded-main #six-grid-container .product-grid-container__column .product-grid-desc {
  height: auto;
}
#padded-main #six-grid-container .product-grid-container__column .product-grid-desc .product-grid-item,
#padded-main #six-grid-container .product-grid-container__column .product-grid-desc .product-grid-item-img {
  color: #45271f;
}
#padded-main #six-grid-container .product-grid-container__column .product-grid-desc .product-grid-item .star-icon,
#padded-main #six-grid-container .product-grid-container__column .product-grid-desc .product-grid-item-img .star-icon {
  color: gold;
}
#padded-main #six-grid-container .product-grid-container__column .product-grid-desc .product-grid-item {
  margin: 0.5rem 0;
}

#main {
  padding: 0 0 7rem 0;
  width: 100%;
}
#main #products-sort-container,
#main #products-banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  padding: 1rem 3rem;
}
#main #products-sort-container :nth-child(1),
#main #products-banner :nth-child(1) {
  justify-self: start;
}
#main #products-sort-container :nth-child(2),
#main #products-banner :nth-child(2) {
  justify-self: end;
}
#main #products-sort-container .dropdown-nav__container #dropdown,
#main #products-banner .dropdown-nav__container #dropdown {
  display: none;
  position: absolute;
  right: 0;
  background-color: white;
  width: 10rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 0;
  margin: 0;
  z-index: 1;
  transition: all 2s;
  list-style: none;
}
#main #products-sort-container .dropdown-nav__container #dropdown li,
#main #products-banner .dropdown-nav__container #dropdown li {
  margin: 0 1rem;
  padding: 1rem 0;
  border-bottom: 1px solid #e2ded6;
}
#main #products-sort-container .dropdown-nav__container #dropdown :nth-child(2),
#main #products-banner .dropdown-nav__container #dropdown :nth-child(2) {
  border-bottom: none;
}
#main #products-sort-container .dropdown-nav__container #dropdown li:hover,
#main #products-banner .dropdown-nav__container #dropdown li:hover {
  cursor: pointer;
  color: #4343ff;
}
#main #products-sort-container .dropdown-nav__container:hover #dropdown,
#main #products-banner .dropdown-nav__container:hover #dropdown {
  display: block;
}
#main .underline {
  background-color: #45271f;
  height: 0.2rem;
  width: 5%;
  margin-bottom: 2rem;
}
#main #six-grid-container {
  padding: 0;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}
#main #six-grid-container a {
  text-decoration: none;
}
#main #six-grid-container .product-grid-container__column {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  border: solid 2px #e2ded6;
  border-right: none;
  border-top: none;
  padding: 3rem;
}
#main #six-grid-container .product-grid-container__column .product-grid-item-img {
  height: 30rem;
  width: 20rem;
  justify-self: center;
  display: grid;
  justify-content: center;
}
#main #six-grid-container .product-grid-container__column .product-grid-item-img .grid-img {
  justify-self: center;
  align-self: center;
  width: auto;
  height: 80%;
}
#main #six-grid-container .product-grid-container__column .product-grid-desc {
  height: auto;
  font-size: 1.7rem;
  text-align: center;
}
#main #six-grid-container .product-grid-container__column .product-grid-desc .product-grid-item,
#main #six-grid-container .product-grid-container__column .product-grid-desc .product-grid-item-img {
  color: #45271f;
}
#main #six-grid-container .product-grid-container__column .product-grid-desc .product-grid-item .star-icon,
#main #six-grid-container .product-grid-container__column .product-grid-desc .product-grid-item-img .star-icon {
  color: gold;
}
#main #six-grid-container .product-grid-container__column .product-grid-desc .product-grid-item {
  margin: 1rem 0;
}
#main #six-grid-container .product-grid-container__column .product-grid-desc .product-grid-item p {
  margin: 0;
}

.five-grid-container,
.info-grid-container {
  position: relative;
  background-color: #f8edd6;
  text-align: center;
  align-items: center;
  justify-items: center;
  padding: 5rem 7rem;
  height: auto;
}
.five-grid-container #view-more-btn,
.info-grid-container #view-more-btn {
  grid-column: 1/6;
}

.home-grid-container__title__container,
.contact-grid-container__title,
.home-grid-container__title,
.social-grid-container__title {
  grid-column: 1/6;
}

.home-grid-container__title,
.contact-grid-container__title {
  width: 100%;
  color: #45271f;
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
}

.home-grid-container__title {
  grid-auto-rows: min-content;
  padding: 1rem 0;
}

.home-grid-container__subTitle {
  font-size: 1.3rem;
}

.home-grid-container__column,
.review-grid-container__column {
  width: 100%;
}

.grid-item {
  width: 100%;
}

.home-grid-container__column__title,
.social-grid-container__title {
  text-transform: uppercase;
  text-align: center;
  color: #45271f;
  font-size: 1.5rem;
  margin-top: 1.4rem;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.review-grid-text,
.review-grid-title {
  text-align: center;
  padding: 0 1.5rem;
  color: #45271f;
  font-size: 1rem;
}

.review-grid-title {
  font-size: 1.3rem;
}

.info-grid-container {
  grid-template-columns: repeat(3, 1fr);
  background-color: white;
  justify-items: center;
  padding: 5rem 15rem;
}
.info-grid-container .direction-icon {
  font-size: 3.5rem;
  color: #fc8c79;
}
.info-grid-container .info-container__column {
  padding: 3rem 3rem;
  width: 100%;
}

.info-container__title,
.social-grid-container__title {
  width: 100%;
  color: #45271f;
  margin-bottom: 0;
  font-size: 2rem;
  text-align: center;
  grid-column: 1/6;
}

.review-grid-container {
  position: relative;
  background-color: #f8edd6;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  padding: 5rem 0;
  height: auto;
}
.review-grid-container .review-grid-photo {
  margin: 1rem 0;
  width: 20%;
  border-radius: 100%;
}

#review-icon-left,
#review-icon-right,
#home-icon-left,
#home-icon-right {
  color: #fc8c79;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 5rem;
  z-index: 10;
}

#review-icon-left {
  left: 15rem;
}

#review-icon-right {
  right: 15rem;
}

#home-icon-left {
  left: 5rem;
}

#home-icon-right {
  right: 5rem;
}

.social-grid-container {
  position: relative;
  background-color: white;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  align-items: center;
  justify-items: center;
  padding-top: 3rem;
  padding-bottom: 5rem;
  height: auto;
}

.social-grid-container__column {
  width: auto;
}

.social-grid-photo {
  width: 100%;
}

.social-grid-container__title {
  margin-bottom: 3rem;
  grid-column: 1/11;
}

.product-main {
  display: grid;
  padding: 3rem 10rem;
}

.product-grid-title {
  text-align: center;
}

.product-title__container {
  height: auto;
}
.product-title__container .product-title {
  font-size: 2rem;
}

.product-dual-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  padding: 0;
}
.product-dual-grid .product-dual-column {
  display: relative;
  grid-auto-rows: min-content;
  color: #45271f;
}
.product-dual-grid .product-dual-column #product-image-sticky {
  position: sticky;
  top: 10rem;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  width: 100%;
}
.product-dual-grid .product-dual-column #product-image-sticky #product-image {
  justify-self: center;
  height: 55vh;
  width: auto;
}
.product-dual-grid .product-dual-column #product-image-sticky .product-grid-item {
  display: grid;
  justify-content: center;
  margin: 2rem 0;
  font-size: 2rem;
}
.product-dual-grid .product-dual-column .product-image-container {
  display: fixed;
  top: 0;
  justify-content: center;
}
.product-dual-grid .product-dual-column:nth-child(2) {
  padding: 0 3rem;
}

.cart-dual-grid,
.cart-preview-dual-grid {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-auto-rows: min-content;
  height: 100%;
  margin-bottom: 4rem;
  color: #45271f;
}
.cart-dual-grid .cart-dual-column,
.cart-preview-dual-grid .cart-dual-column {
  height: 20vh;
  display: grid;
  align-content: center;
}
.cart-dual-grid .cart-dual-column .cart-image-container,
.cart-preview-dual-grid .cart-dual-column .cart-image-container {
  display: grid;
  height: 20vh;
}
.cart-dual-grid .cart-dual-column .cart-image-container .cart-image,
.cart-preview-dual-grid .cart-dual-column .cart-image-container .cart-image {
  justify-self: center;
  height: 100%;
  width: auto;
}

.cart-preview-dual-grid {
  padding: 5rem;
  grid-template-columns: 1fr 2fr 5fr;
}
.cart-preview-dual-grid .cart-dual-column {
  height: auto;
  justify-content: center;
  align-content: center;
}
.cart-preview-dual-grid .cart-dual-column .cart-image-container {
  height: 15vh;
}
.cart-preview-dual-grid .cart-dual-column .cart-desc__container .cart-desc {
  align-content: center;
}
.cart-preview-dual-grid .cart-dual-column .cart-desc__container .cart-desc .cart-desc__container__body {
  margin: auto;
}
.cart-preview-dual-grid .cart-dual-column .cart-desc__container__links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-content: center;
}
.cart-preview-dual-grid .cart-dual-column .cart-desc__container__links .checkout-btn {
  justify-self: start;
  width: 80%;
}
.cart-preview-dual-grid .cart-dual-column .cart-desc__container__links .checkout-btn a {
  text-decoration: none;
  color: white;
}
.cart-preview-dual-grid .cart-dual-column:nth-child(1) {
  grid-template-columns: 1fr;
  justify-self: center;
}
.cart-preview-dual-grid .cart-dual-column:nth-child(2) .cart-desc__container {
  grid-template-columns: 1fr;
  justify-self: center;
}

.cart-desc__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-around;
  align-items: center;
}
.cart-desc__container .cart-desc:nth-child(2) {
  justify-self: center;
}
.cart-desc__container .cart-desc:nth-child(2) {
  justify-self: end;
}
.cart-desc__container .cart-desc:nth-child(2) .cart-desc__container__body {
  margin-bottom: 1rem;
}
.cart-desc__container .cart-desc {
  display: grid;
}
.cart-desc__container .cart-desc .cart-desc__container__body {
  font-size: 2.1rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.cart-desc__container .cart-desc .cart-desc__container__body__config {
  font-size: 1rem;
  margin: 0.5rem 0;
}
.cart-desc__container .cart-desc .cart-desc__container__body__customize__title {
  margin: 0;
}
.cart-desc__container .cart-desc #quantity {
  background-color: transparent;
  border: none;
}
.cart-desc__container .cart-desc .cart-desc__container__btn {
  background-color: transparent;
  border: none;
  justify-self: end;
  font-size: 1rem;
  color: #0066cc;
  cursor: pointer;
}

.cart-total__container {
  display: grid;
  grid-template-columns: 1fr;
  justify-self: end;
  width: 70%;
}
.cart-total__container .cart-total__container__row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: min-content;
  font-size: 1.3rem;
}
.cart-total__container .cart-total__container__row p {
  margin: 0.3rem 0;
}
.cart-total__container .cart-total__container__row :nth-child(2) {
  justify-self: end;
}
.cart-total__container .cart-total__container__row h3 {
  margin: 0;
}

.checkout-btn {
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding: 0.8rem 0;
  width: 30%;
  border: none;
  border-radius: 5px;
  background: linear-gradient(to bottom, #5c5cff, #4343ff);
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  justify-self: end;
}

#product-grid-main {
  padding: 0 5rem;
}
#product-grid-main .underline {
  background-color: #45271f;
  height: 0.2rem;
  width: 5%;
}
#product-grid-main #product-grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 4rem;
}
#product-grid-main #product-grid-container .product-grid-container__column {
  display: grid;
  grid-template-columns: 1fr;
}
#product-grid-main #product-grid-container .product-grid-container__column .product-grid-item .star-icon,
#product-grid-main #product-grid-container .product-grid-container__column .product-grid-item-img .star-icon {
  color: gold;
}
#product-grid-main #product-grid-container .product-grid-container__column .product-grid-item-img .grid-img {
  width: 100%;
  height: auto;
}
#product-grid-main #product-grid-container .home-grid-container__column .grid-item {
  height: 100%;
  width: 100%;
}

.input-radio__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  font-size: 0.8rem;
}
.input-radio__container .input-radio {
  background-color: white;
  border: solid 2px #d6d6d6;
  margin: 1rem 0;
  display: grid;
  grid-template-columns: 1fr;
  font-size: 1.2rem;
  border-radius: 10px;
  cursor: pointer;
}
.input-radio__container .input-radio .text__wrapper {
  padding: 1rem 1rem 0 1rem;
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  position: relative;
  font-size: 1.3rem;
  font-weight: 500;
}
.input-radio__container .input-radio .input {
  visibility: hidden;
}
.input-radio__container .input-radio .radio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  cursor: pointer;
}
.input-radio__container .input-radio .radio-overlay:hover,
.input-radio__container .input-radio .input[type=radio]:checked ~ .radio-overlay {
  border: solid 2px #356bff;
  border-radius: 10px;
}

.divideLine {
  border: solid #d6d6d6a9 1px;
  width: 100%;
  justify-self: center;
  margin: 1rem 0;
}

.cart-add__container {
  width: 100%;
  padding: 1rem;
  display: grid;
  justify-content: stretch;
}
.cart-add__container .cart-add__btn {
  background: linear-gradient(to bottom, #5c5cff, #4343ff);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  width: 100%;
}

.slider {
  position: relative;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.slider .slide {
  opacity: 0;
  transition-duration: 1s ease;
}
.slider .active {
  opacity: 1;
  transition-duration: 1s;
  transition: scale(1.08);
}
.slider .image {
  height: 100%;
  width: 20%;
  border-radius: 100%;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f8edd6;
  overflow-x: hidden;
  margin-top: 3rem;
}

@media (min-width: 50rem) {
  .main-nav__link {
    display: inline-block;
    margin: 0 2rem;
  }

  .main-nav__logo {
    display: inline-block;
  }

  #main-nav__responsive__toggle {
    display: none;
  }

  .banner-container__title {
    font-size: 5rem;
  }

  .banner-container {
    height: 60vh;
  }

  @keyframes bounce {
    0% {
      bottom: 4em;
    }
    50% {
      bottom: 4.8em;
    }
    100% {
      bottom: 4em;
    }
  }
  .down-arrow {
    width: auto;
    height: 4em;
  }

  .reversedRow {
    flex-direction: row-reverse;
  }

  .info-container__row {
    padding: 5rem 0;
  }

  .info-container__column {
    padding: 2rem;
    padding: 2rem;
    width: 50%;
  }

  .info-container__column__text,
.footer-container__column__text {
    font-size: 1.2rem;
  }

  .footer-container__column {
    width: 50%;
    padding: 0 5em;
  }

  .footer-container__column__title {
    font-size: 2rem;
  }
}
@media (min-width: 80rem) {
  .header {
    height: 100vh;
  }

  .main-nav__link {
    margin: 0 3rem;
  }

  .banner-container__title {
    font-size: 6rem;
  }

  .banner-container {
    height: 100%;
  }

  .info-container__column__title {
    font-size: 3rem;
  }

  .info-container__column__text,
.footer-container__column__text {
    font-size: 1.5rem;
  }
}
.info-container {
  text-align: center;
  height: 60vh;
  padding: 0 7rem;
  display: grid;
  align-items: center;
  justify-items: center;
}

.info-container__item {
  width: 80%;
}

/* Media Responsive */
@media (min-width: 50rem) {
  .home-grid-container__column {
    width: 100%;
  }
}
@media (min-width: 80rem) {
  .home-grid-container__column {
    width: 80%;
  }

  .review-grid-container__column {
    width: 60%;
  }

  .home-grid-container__title {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  .review-grid-text {
    font-size: 1.2rem;
  }
}

/*# sourceMappingURL=index.css.map */
